body {
  margin: 20px;
  font-family: 'Roboto', sans-serif;
}

.block {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  margin: 10px 0;
}

#title {
  padding: 20px
}

#description {
    
}

#d3-container {
  min-height: 300px;
  padding: 0;
}

#d3-container svg {
  
}

#toc {
  list-style-type: none;
  list-style-position: inside;
  padding-left: 20px;
}

#toc li:before {
  content: "— ";
}
